.banner {
  display: flex;
  justify-content: flex-end;
  border-radius: 2px;
}

.article {
  margin: 30px;
  weight: 200px;
  height: 400px;
  border-radius:2px;
  box-shadow: 2px;
  background-color: rgba(105, 197, 89, 60%);
}
