.banner {
  display: flex;
  border-radius: 2px;
  width: 100%
}

#item {
  justify-content: center;
}

.article {
  width: 200px;
  border-radius:2px;
  box-shadow: 2px;
  color: rgb(105, 197, 89);
}
